## Proyecto final
### MongoDB: Pedidos y Ordenes

In [3]:
import pandas as pd
import numpy as np
from datetime import datetime
#import pprint
#from bson.objectid import ObjectId
import pymongo
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

In [4]:
conn_str = "mongodb://localhost:27017"
client = pymongo.MongoClient(conn_str,
                             server_api=ServerApi('1'),
                             serverSelectionTimeoutMS=5000)

# Probando conexión
try:
    print(client.server_info())
except Exception:
    print("Unable to connect to the server.")

# Borrar base y volver a crear
#client.drop_database('Tienda')

db = client['Tienda']

{'version': '5.0.8', 'gitVersion': 'c87e1c23421bf79614baf500fda6622bd90f674e', 'modules': [], 'allocator': 'tcmalloc', 'javascriptEngine': 'mozjs', 'sysInfo': 'deprecated', 'versionArray': [5, 0, 8, 0], 'openssl': {'running': 'OpenSSL 1.1.1f  31 Mar 2020', 'compiled': 'OpenSSL 1.1.1f  31 Mar 2020'}, 'buildEnvironment': {'distmod': 'ubuntu2004', 'distarch': 'x86_64', 'cc': '/opt/mongodbtoolchain/v3/bin/gcc: gcc (GCC) 8.5.0', 'ccflags': '-Werror -include mongo/platform/basic.h -fasynchronous-unwind-tables -ggdb -Wall -Wsign-compare -Wno-unknown-pragmas -Winvalid-pch -fno-omit-frame-pointer -fno-strict-aliasing -O2 -march=sandybridge -mtune=generic -mprefer-vector-width=128 -Wno-unused-local-typedefs -Wno-unused-function -Wno-deprecated-declarations -Wno-unused-const-variable -Wno-unused-but-set-variable -Wno-missing-braces -fstack-protector-strong -Wa,--nocompress-debug-sections -fno-builtin-memcmp', 'cxx': '/opt/mongodbtoolchain/v3/bin/g++: g++ (GCC) 8.5.0', 'cxxflags': '-Woverloaded-virtual -Wno-maybe-uninitialized -fsized-deallocation -std=c++17', 'linkflags': '-Wl,--fatal-warnings -pthread -Wl,-z,now -fuse-ld=gold -fstack-protector-strong -Wl,--no-threads -Wl,--build-id -Wl,--hash-style=gnu -Wl,-z,noexecstack -Wl,--warn-execstack -Wl,-z,relro -Wl,--compress-debug-sections=none -Wl,-z,origin -Wl,--enable-new-dtags', 'target_arch': 'x86_64', 'target_os': 'linux', 'cppdefines': 'SAFEINT_USE_INTRINSICS 0 PCRE_STATIC NDEBUG _XOPEN_SOURCE 700 _GNU_SOURCE _FORTIFY_SOURCE 2 BOOST_THREAD_VERSION 5 BOOST_THREAD_USES_DATETIME BOOST_SYSTEM_NO_DEPRECATED BOOST_MATH_NO_LONG_DOUBLE_MATH_FUNCTIONS BOOST_ENABLE_ASSERT_DEBUG_HANDLER BOOST_LOG_NO_SHORTHAND_NAMES BOOST_LOG_USE_NATIVE_SYSLOG BOOST_LOG_WITHOUT_THREAD_ATTR ABSL_FORCE_ALIGNED_ACCESS'}, 'bits': 64, 'debug': False, 'maxBsonObjectSize': 16777216, 'storageEngines': ['devnull', 'ephemeralForTest', 'wiredTiger'], 'ok': 1.0}

### Colecciones:

* Pedidos
* Órdenes

In [5]:
# Registro de una nueva orden
def nueva_orden(compra:list, fecha:datetime = datetime.now()):
    hora = fecha.strftime('%H:%M:%S')
    fecha = fecha.strftime('%Y-%m-%d')
    total_orden = sum([x[2] for x in compra])
    compra = [{'producto_id': x[0], 'cantidad': x[1], 'subtotal': x[2]} for x in compra]
    orden = {'fecha': fecha ,
             'hora' : hora, 
             'compra': compra,
             'total_orden': total_orden }
    orden_id = db.Ordenes.insert_one(orden).inserted_id
    return orden_id

# Registro de un nuevo pedido
def nuevo_pedido(fecha_entrega:datetime, nombre_cliente:str, telefono:str, compra:list, fecha_apertura:datetime = datetime.now()):
    hora_apertura = fecha_apertura.strftime('%H:%M:%S')
    fecha_apertura = fecha_apertura.strftime('%Y-%m-%d')
    hora_entrega = fecha_entrega.strftime('%H:%M:%S')
    fecha_entrega = fecha_entrega.strftime('%Y-%m-%d')
    total_orden = sum([x[2] for x in compra])
    compra = [{'producto_id': x[0], 'cantidad': x[1], 'subtotal': x[2]} for x in compra] 
    pedido = {'fecha_apertura': fecha_apertura ,
              'hora_apertura' : hora_apertura,
             'fecha_entrega': fecha_entrega,
             'hora_entrega' : hora_entrega,
             'nombre_cliente': nombre_cliente,
             'telefono': telefono,
             'compra': compra,
             'total_orden': total_orden }
    pedido_id = db.Pedidos.insert_one(pedido).inserted_id

    return pedido_id

## Queries:

1. Total de venta de ordenes por día.
4. Consultar pedidos por fecha de entrega.
2. Total de dinero generado por día por anticipo de pedidos.
2. Total de dinero generado por pago de restante de pedidos por día.
5. Consultar total de cada producto a entregar por día

In [6]:
# 1.Total de venta de órdenes por día:
def venta_ordenes_por_dia(fecha:datetime): 
    fecha = fecha.strftime('%Y-%m-%d')
    total = db.Ordenes.aggregate([{ "$match": { "fecha": fecha}},
                                  { "$group": { "_id": "$fecha", "total_dia" : {'$sum': '$total_orden'} }},
                                   { "$project": { "_id":0, "total_dia" : 1 }}])
    res = []                     
    for t in total:
        res.append(t)
    return res[0]

# 2. Consultar pedidos por fecha de entrega
def consultar_entregas(fecha_entrega:datetime = datetime.today(), format:bool=True):
    fecha_entrega = fecha_entrega.strftime('%Y-%m-%d')
    resultado = db.Pedidos.find({ "fecha_entrega": fecha_entrega}).sort('hora_entrega')
    
    if format:
        df = pd.DataFrame()
        for p in resultado:
            l = []
            for prod in p['compra']:
                l.append('{} : {}'.format(prod['producto_id'], prod['cantidad']))
            columna = []
            columna.append('Hora: {}'.format(p['hora_entrega']))
            columna.append('Tel: {}'.format(p['telefono']))
            total = "${:,}".format(p['total_orden'])
            columna.append('Total: {}'.format(total))
            columna = columna + l
            df = pd.concat([df, pd.DataFrame(columna, columns = [p['nombre_cliente']])], axis=1)
            #df[p['nombre_cliente']] = columna
        df = df.fillna('')
        return df

    pedidos = []
    for p in resultado:
        pedidos.append(p)
    return pedidos


# 3. Total de pagos de anticipos por día
def pago_anticipos_por_dia(fecha_apertura:datetime = datetime.today()):
    fecha_apertura = fecha_apertura.strftime('%Y-%m-%d')
    total = db.Pedidos.aggregate([{ "$match": { "fecha_apertura": fecha_apertura}},
                                   { "$group": { "_id": "$fecha_apertura", "total_anticipos_dia" : {'$sum': '$total_orden'} }},
                                   { "$project": { "_id":0, "total_anticipos_dia" : 1 }}])
    res = []                     
    for t in total:
        res.append(t)
    return res[0]['total_anticipos_dia']*0.5


# 4. Total de pagos de entregas por día
def pago_entregas_por_dia(fecha_entrega:datetime = datetime.today()):
    fecha_entrega = fecha_entrega.strftime('%Y-%m-%d')
    total = db.Pedidos.aggregate([{ "$match": { "fecha_entrega": fecha_entrega}},
                                   { "$group": { "_id": "fecha_entrega", "total_pago_entregas" : {'$sum': '$total_orden'} }},
                                   { "$project": { "_id":0, "total_pago_entregas" : 1 }}])
    res = []                     
    for t in total:
        res.append(t)
    return res[0]['total_pago_entregas']*0.5


#5. Consultar cantidades de productos a entregar por día
def productos_para_entregas(fecha_entrega:datetime = datetime.today()):
    fecha_entrega = fecha_entrega.strftime('%Y-%m-%d')
    resultado = db.Pedidos.aggregate([{ "$match": { "fecha_entrega": fecha_entrega}},
                                      { "$unwind": "$compra" },
                                      { "$group": { "_id": "$compra.producto_id", "total_piezas" : {'$sum':'$compra.cantidad'} }},
                                      { "$project": { "_id":1, "total_piezas" : 1 }}])
    pedidos = []                     
    for p in resultado:
        pedidos.append(p)
    return pd.DataFrame(pedidos).sort_values('total_piezas', axis=0, ascending=False)

### Testing

In [7]:
# Crear ordenes:
compra_1 = [['jamon', 3, 45], ['piña', 1, 15], ['zarzamora', 2, 40]]
compra_2 = [['jamon', 6, 90], ['piña', 2, 30]]

nueva_orden(compra_1)
nueva_orden(compra_2)

ObjectId('629d6df77f888bcf992d153f')

In [8]:
hoy = datetime.now()


print(venta_ordenes_por_dia(hoy))

{'total_dia': 220}

In [9]:
# Crear un pedido:
compra_1 = [['jamon', 6, 90], ['piña', 2, 30], ['zarzamora', 4, 80]]
compra_2 = [['jamon', 6, 90], ['piña', 2, 30]]
compra_3 = [['jamon', 6, 90], ['piña', 2, 30],['zarzamora', 4, 80], ['queso', 10, 200] ]

otro_dia_1 = datetime.strptime('2022-06-10 11:35:00', "%Y-%m-%d %H:%M:%S")
otro_dia_2 = datetime.strptime('2022-06-10 13:00:00', "%Y-%m-%d %H:%M:%S")
otro_dia_3 = datetime.strptime('2022-06-10 12:00:00', "%Y-%m-%d %H:%M:%S")


nuevo_pedido(otro_dia_1,'Marcela Cruz', '93838381005', compra_1)
nuevo_pedido(otro_dia_2,'Yeudiel Lara', '63835581007', compra_2)
nuevo_pedido(otro_dia_3,'Pablo Castillo', '95538371007', compra_3)

ObjectId('629d6df87f888bcf992d1542')

In [10]:
consultar_entregas(otro_dia_1)

       Marcela Cruz    Pablo Castillo      Yeudiel Lara
0    Hora: 11:35:00    Hora: 12:00:00    Hora: 13:00:00
1  Tel: 93838381005  Tel: 95538371007  Tel: 63835581007
2       Total: $200       Total: $400       Total: $120
3         jamon : 6         jamon : 6         jamon : 6
4          piña : 2          piña : 2          piña : 2
5     zarzamora : 4     zarzamora : 4
6                          queso : 10

In [11]:
pago_anticipos_por_dia(hoy)

360.0

In [12]:
pago_entregas_por_dia(otro_dia_1)

360.0

In [13]:
productos_para_entregas(otro_dia_2)

         _id  total_piezas
3      jamon            18
0      queso            10
1  zarzamora             8
2       piña             6

## Precarga de datos

In [14]:
def precarga_ordenes():
    compras  = [[['Volovan Jamon', 3, 45], ['Volovan Pollo', 1, 15], ['Volovan Fresa', 2, 30]],
                [['Volovan Choriqueso', 1, 15], ['Volovan Zarzamora', 1, 15], ['Volovan Manjar', 1, 15]],
                [['Volovan Jamon', 2, 30], ['Volovan Piñacoco', 1, 15], ['Volovan Cajeta', 1, 15]],
                [['Volovan Pastor', 2, 36], ['Volovan Choriqueso', 1, 15], ['MiniVolovan Tres quesos', 2, 16]],
                [['MiniVolovan Nutella', 2, 16], ['MiniVolovan Zarzamora', 1, 8], ['MiniVolovan Cajeta', 3, 24]],
                [['Volovan Jamon', 4, 60], ['Volovan Pollo', 4, 60]],
                [['Volovan Zarzamora', 3, 45], ['Volovan Piña', 2, 30]],
                [['Volovan Tres quesos', 2, 30], ['Volovan Champiñones', 2, 30]],
                [['Volovan Champiñones', 5, 75], ['Volovan Pastor', 1, 18]],
                [['Volovan Nutella', 1, 15], ['MiniVolovan Fresa', 1, 8]],
                [['Princesa', 3, 60]],
                [['MegaVolo', 4, 80]],
                [['Reyna', 1, 40]],
                [['Reyna', 1, 40]],
                [['MisterVolo', 1, 50]] ]

    for c in compras:
        nueva_orden(c)
    return

def precarga_pedidos():
    compras  = [[['Volovan Jamon', 10, 150], ['Volovan Pollo', 10, 150], ['Volovan Fresa', 10, 150]],
                [['Volovan Jamon', 20, 300], ['Volovan Pollo', 10, 150], ['Volovan Fresa', 10, 150]],
                [['Volovan Choriqueso', 15, 225], ['Volovan Zarzamora', 15, 225], ['Volovan Manjar', 10, 150]],
                [['Volovan Jamon', 15, 225], ['Volovan Piñacoco', 10, 150], ['Volovan Cajeta', 10, 150]],
                [['Volovan Jamon', 10, 150], ['Volovan Piñacoco', 10, 150], ['Volovan Cajeta', 10, 150]],
                [['Volovan Jamon', 30, 450], ['Volovan Pollo', 30, 450]],
                [['Volovan Zarzamora', 35, 525], ['Volovan Piña', 20, 300]],
                [['Volovan Zarzamora', 20, 300], ['Volovan Piña', 20, 300]],
                [['Volovan Tres quesos', 20, 300], ['Volovan Champiñones', 20, 300]],
                [['Volovan Tres quesos', 20, 300], ['Volovan Champiñones', 12, 180]],
                [['Princesa', 30, 600]],
                [['MegaVolo', 40, 800]],
                [['Reyna', 10, 400]],
                [['Reyna', 15, 600]],
                [['MisterVolo', 25, 1250]] ]

    nombres = ['Marcela Cruz', 'Victor Almendra', 'Yeudiel Lara', 'Pablo Castillo', 'Pamela Larios',
                'Diego Cardenas', 'Adan Medrano', 'Ximena Robles', 'Lionel Messi', 'Luis Perales',
                'Rita Jimenez', 'Alejandro Pimentel', 'Leo Martinez', 'Oscar Sanchez', 'Ana Meda']
                
    telefonos = ['524875475','923550340','056241059','256743290','100456580',
                 '511136342','748412841','339374033','982005739','673425710',
                 '031079473','827037601','074426997','884081039','186980650']
                 
    fechas_str =  ['2022-06-10 12:30:00', '2022-06-09 11:35:00', '2022-06-10 16:45:00',
               '2022-06-08 15:20:00', '2022-06-15 09:15:00', '2022-06-15 08:00:00',
               '2022-06-14 10:15:00', '2022-06-29 11:20:00', '2022-06-08 10:00:00',
               '2022-06-08 12:45:00', '2022-06-09 13:45:00', '2022-06-11 14:00:00',
               '2022-06-12 09:15:00', '2022-06-12 10:15:00', '2022-06-08 12:00:00']

    fechas = [datetime.strptime(x, "%Y-%m-%d %H:%M:%S") for x in fechas_str ]

    for i in range(15):
        nuevo_pedido(fechas[i],nombres[i], telefonos[i], compras[i])
    return

In [15]:
precarga_ordenes()
precarga_pedidos()