In [93]:
import redis
import pandas as pd
from datetime import datetime

db = redis.Redis(host='127.0.0.1', port=6379, db=0, charset="utf-8", decode_responses=True)
db.flushdb()

True

In [84]:
sobrante=pd.read_csv('C:/Users/Pabul/Downloads/productosTest.csv')
sobrante

   Producto  Cantidad
0   Volovan        10
1  Princesa        12
2     Megas         2
3   Paseado        17
4    Pastor        33
5    Reynas         1
6     Conos         0
7  Gaznates         9
8     Pizza        17

In [94]:

def carga_productos(restantes):
    for index, row in sobrante.iterrows():
        key= 'Productos:'+row[0]
        result= db.set(key, int(row[1]))
    return result

def get_sobrantes(producto):
    key="Productos:"+producto
    result = db.get(key)
    return int(result)

def producidos(producto, producido):
    key="Productos:"+producto
    result= db.set(key, get_sobrantes(producto)+producido)
    return result

def comprados(producto, comprado):
    key="Productos:"+producto
    result= db.set(key, get_sobrantes(producto)-comprado)
    return result

def gastosExtra(gastado, concepto):
    hora = datetime.now().strftime("%d/%m/%Y %H:%M")
    key1='gastoExtra:Gasto:'
    key2='gastoExtra:Concepto:'
    key3='gastoExtra:Hora:'
    db.rpush(key1, gastado)
    db.rpush(key2, concepto)
    db.rpush(key3, hora)
    return 

def gastosExtraTotales():
    gastos= db.lrange('gastoExtra:Gasto:', 0, -1)
    return sum(map(int, gastos))

def ingresosExtra(ingresado, concepto):
    hora = datetime.now().strftime("%d/%m/%Y %H:%M")
    key1='ingresoExtra:Ingreso:'
    key2='ingresoExtra:Concepto:'
    key3='ingresoExtra:Hora:'
    #key4='igresoExta:Operador:'
    db.rpush(key1, ingresado)
    db.rpush(key2, concepto)
    db.rpush(key3, hora)
    return

def ingresosExtraTotales():
    gastos= db.lrange('ingresoExtra:Ingreso:', 0, -1)
    return sum(map(int, gastos))

def cerrarDia():
    dataframe de gastosExtra
    dataframe de ingresosExtra
    dataframe de productosRestantes
    db.flushall()


carga_productos(sobrante)
print(get_sobrantes('Volovan'))
producidos('Volovan', 15)
print(get_sobrantes('Volovan'))
comprados('Volovan', 1)
print(get_sobrantes('Volovan'))

gastosExtra(1, 'Manzanas')
gastosExtra(17, 'Peras')

print(gastosExtraTotales())

print(db.lrange('gastoExtra:Gasto:', 0, -1))
print(db.lrange('gastoExtra:Concepto:', 0, -1))
print(db.lrange('gastoExtra:Hora:', 0, -1))

10
25
24
18
['1', '17']
['Manzanas', 'Peras']
['04/06/2022 18:22', '04/06/2022 18:22']