In [71]:
import redis
import pandas as pd
from datetime import datetime

db = redis.Redis(host='127.0.0.1', port=6379, db=0, charset="utf-8", decode_responses=True)
db.flushdb()

True

In [72]:
sobrante=pd.read_csv('C:/Users/Pabul/Downloads/productosTest.csv')
sobrante

   Producto  Cantidad
0   Volovan        10
1  Princesa        12
2     Megas         2
3   Paseado        17
4    Pastor        33
5    Reynas         1
6     Conos         0
7  Gaznates         9
8     Pizza        17

In [77]:

def carga_productos(restantes):
    for index, row in sobrante.iterrows():
        key= 'Productos:'+row[0]
        result= db.set(key, int(row[1]))
    return result

def get_sobrantes(producto):
    key="Productos:"+producto
    result = db.get(key)
    return int(result)

def producidos(producto, producido):
    key="Productos:"+producto
    result= db.set(key, get_sobrantes(producto)+producido)
    return result

def comprados(producto, comprado):
    key="Productos:"+producto
    result= db.set(key, get_sobrantes(producto)-comprado)
    return result

def gastosExtra(gastado, concepto, user):
    hora = datetime.now()
    key1='gastoExtra:Gasto:'
    key2='gastoExtra:Concepto:'
    key3='gastoExtra:Hora:'
    key4='gastoExtra:Usuario:'
    db.rpush(key1, gastado)
    db.rpush(key2, concepto)
    db.rpush(key3, hora)
    db.rpush(key4, user)
    return 

def gastosExtraTotales():
    gastos= db.lrange('gastoExtra:Gasto:', 0, -1)
    return sum(map(int, gastos))

def ingresosExtra(ingresado, concepto, user):
    hora = datetime.now()
    key1='ingresoExtra:Ingreso:'
    key2='ingresoExtra:Concepto:'
    key3='ingresoExtra:Hora:'
    key4='ingresoExtra:Usuario:'
    db.rpush(key1, ingresado)
    db.rpush(key2, concepto)
    db.rpush(key3, hora)
    db.rpush(key4, user)
    return

def ingresosExtraTotales():
    gastos= db.lrange('ingresoExtra:Ingreso:', 0, -1)
    return sum(map(int, gastos))

def dfIngresosExtra():
    ingdict={'Fecha': db.lrange('ingresoExtra:Hora:', 0, -1), 'Concepto':db.lrange('ingresoExtra:Concepto:', 0, -1), \
        'Ingreso': db.lrange('ingresoExtra:Ingreso:', 0, -1), 'Usuario': db.lrange('ingresoExtra:Usuario:', 0, -1)}
    ingdf=pd.DataFrame.from_dict(data=ingdict)
    return( ingdf)

def dfGastosExtra():
    gastdict= {'Fecha': db.lrange('gastoExtra:Hora:', 0, -1), 'Concepto':db.lrange('gastoExtra:Concepto:', 0, -1), \
        'Costo': db.lrange('gastoExtra:Gasto:', 0, -1), 'Usuario': db.lrange('gastoExtra:Usuario:', 0, -1)}
    gastodf=pd.DataFrame.from_dict(data=gastdict)
    return(gastodf)


carga_productos(sobrante)
print(get_sobrantes('Volovan'))
producidos('Volovan', 15)
print(get_sobrantes('Volovan'))
comprados('Volovan', 1)
print(get_sobrantes('Volovan'))

gastosExtra(1, 'Manzanas', 'Yeu')
gastosExtra(17, 'Peras', 'Pablo')

ingresosExtra(91, 'Anticipo', 'Marcela')
ingresosExtra(17, 'Prepago', 'Pablo')
ingresosExtra(94, 'Prepago', 'Yeu')

print(gastosExtraTotales())

print(db.lrange('gastoExtra:Gasto:', 0, -1))
print(db.lrange('gastoExtra:Concepto:', 0, -1))
print(db.lrange('gastoExtra:Hora:', 0, -1))
print(db.lrange('gastoExtra:Usuario:', 0, -1))

print(db.lrange('ingresoExtra:Ingreso:', 0, -1))
print(db.lrange('ingresoExtra:Concepto:', 0, -1))
print(db.lrange('ingresoExtra:Hora:', 0, -1))
print(db.lrange('ingresoExtra:Usuario:', 0, -1))

10
25
24
4425
['65', '47', '71', '35', '12', '11', '30', '83', '68', '79', '89', '48', '17', '84', '68', '28', '78', '18', '1', '24', '43', '72', '43', '51', '19', '82', '96', '8', '68', '57', '28', '32', '97', '55', '79', '4', '75', '16', '75', '10', '57', '93', '84', '15', '13', '97', '44', '17', '21', '63', '17', '70', '56', '18', '26', '60', '55', '20', '3', '50', '99', '85', '62', '86', '73', '43', '41', '0', '95', '26', '92', '86', '27', '22', '53', '9', '58', '7', '74', '66', '81', '40', '20', '6', '15', '45', '41', '34', '39', '14', '59', '8', '56', '1', '17']
['Detergente', 'Quita Grasa', 'Manzanas', 'Manzanas', 'Aceite', 'Charloa', 'Manzanas', 'Quita Grasa', 'Quita Grasa', 'Quita Grasa', 'Aceite', 'Aceite', 'Manzanas', 'Detergente', 'Aceite', 'Quita Grasa', 'Quita Grasa', 'Quita Grasa', 'Manzanas', 'Aceite', 'Detergente', 'Manzanas', 'Quita Grasa', 'Detergente', 'Aceite', 'Detergente', 'Detergente', 'Detergente', 'Detergente', 'Manzanas', 'Charloa', 'Manzanas', 'Charloa', 'Manzanas', 'Quita Grasa', 'Quita Grasa', 'Quita Grasa', 'Manzanas', 'Charloa', 'Charloa', 'Aceite', 'Manzanas', 'Quita Grasa', 'Charloa', 'Quita Grasa', 'Detergente', 'Detergente', 'Charloa', 'Quita Grasa', 'Detergente', 'Manzanas', 'Manzanas', 'Detergente', 'Aceite', 'Quita Grasa', 'Detergente', 'Quita Grasa', 'Quita Grasa', 'Charloa', 'Aceite', 'Manzanas', 'Manzanas', 'Aceite', 'Manzanas', 'Manzanas', 'Quita Grasa', 'Manzanas', 'Aceite', 'Aceite', 'Manzanas', 'Manzanas', 'Manzanas', 'Charloa', 'Quita Grasa', 'Charloa', 'Detergente', 'Charloa', 'Charloa', 'Manzanas', 'Detergente', 'Charloa', 'Detergente', 'Detergente', 'Charloa', 'Charloa', 'Charloa', 'Manzanas', 'Detergente', 'Charloa', 'Detergente', 'Manzanas', 'Aceite', 'Detergente', 'Manzanas', 'Peras']
['05/06/2022 14:37:21', '05/06/2022 14:37:27', '05/06/2022 14:37:30', '05/06/2022 14:37:30', '05/06/2022 14:37:38', '05/06/2022 14:37:47', '05/06/2022 14:37:48', '05/06/2022 14:37:48', '05/06/2022 14:37:51', '05/06/2022 14:37:52', '05/06/2022 14:37:56', '05/06/2022 14:37:56', '05/06/2022 14:37:57', '05/06/2022 14:38:11', '05/06/2022 14:38:18', '05/06/2022 14:38:19', '05/06/2022 14:38:20', '05/06/2022 14:38:21', '05/06/2022 14:38:24', '05/06/2022 14:38:26', '05/06/2022 14:38:29', '05/06/2022 14:38:32', '05/06/2022 14:38:38', '05/06/2022 14:38:38', '05/06/2022 14:38:46', '05/06/2022 14:38:49', '05/06/2022 14:38:59', '05/06/2022 14:39:01', '05/06/2022 14:39:07', '05/06/2022 14:39:09', '05/06/2022 14:39:12', '05/06/2022 14:39:14', '05/06/2022 14:39:19', '05/06/2022 14:39:24', '05/06/2022 14:39:31', '05/06/2022 14:39:37', '05/06/2022 14:39:39', '05/06/2022 14:39:47', '05/06/2022 14:39:47', '05/06/2022 14:39:49', '05/06/2022 14:39:51', '05/06/2022 14:39:55', '05/06/2022 14:40:01', '05/06/2022 14:40:07', '05/06/2022 14:40:09', '05/06/2022 14:40:15', '05/06/2022 14:40:16', '05/06/2022 14:40:19', '05/06/2022 14:40:23', '05/06/2022 14:40:30', '05/06/2022 14:40:30', '05/06/2022 14:40:30', '05/06/2022 14:40:30', '05/06/2022 14:40:30', '05/06/2022 14:40:35', '05/06/2022 14:40:38', '05/06/2022 14:40:48', '05/06/2022 14:40:50', '05/06/2022 14:40:51', '05/06/2022 14:40:54', '05/06/2022 14:40:55', '05/06/2022 14:40:55', '05/06/2022 14:41:00', '05/06/2022 14:41:03', '05/06/2022 14:41:06', '05/06/2022 14:41:09', '05/06/2022 14:41:12', '05/06/2022 14:41:13', '05/06/2022 14:41:13', '05/06/2022 14:41:15', '05/06/2022 14:41:16', '05/06/2022 14:41:17', '05/06/2022 14:41:23', '05/06/2022 14:41:23', '05/06/2022 14:41:27', '05/06/2022 14:41:30', '05/06/2022 14:41:30', '05/06/2022 14:41:33', '05/06/2022 14:41:34', '05/06/2022 14:41:35', '05/06/2022 14:41:38', '05/06/2022 14:41:43', '05/06/2022 14:41:48', '05/06/2022 14:41:54', '05/06/2022 14:41:55', '05/06/2022 14:41:55', '05/06/2022 14:41:58', '05/06/2022 14:42:06', '05/06/2022 14:42:08', '05/06/2022 14:42:08', '05/06/2022 14:42:11', '05/06/2022 14:42:12', '05/06/2022 14:42:12', '05/06/2022 16:37:04', '05/06/2022 16:37:04']
['Yeu', 'ProfePime', 'Yeu', 'Marcela', 'ProfePime', 'Pablo', 'Yeu', 'ProfePime', 'Yeu', 'Pablo', 'Yeu', 'ProfePime', 'ProfePime', 'ProfePime', 'Pablo', 'Pablo', 'Yeu', 'ProfePime', 'Marcela', 'Pablo', 'Marcela', 'Marcela', 'Marcela', 'Pablo', 'Pablo', 'Yeu', 'ProfePime', 'Yeu', 'Yeu', 'Pablo', 'ProfePime', 'Marcela', 'Pablo', 'Yeu', 'ProfePime', 'Pablo', 'ProfePime', 'Pablo', 'Marcela', 'Yeu', 'Marcela', 'Yeu', 'Marcela', 'Marcela', 'Pablo', 'Marcela', 'Yeu', 'Pablo', 'Pablo', 'Marcela', 'ProfePime', 'Pablo', 'Marcela', 'Yeu', 'Pablo', 'ProfePime', 'Marcela', 'Pablo', 'ProfePime', 'Yeu', 'Pablo', 'ProfePime', 'Yeu', 'Pablo', 'Marcela', 'ProfePime', 'ProfePime', 'ProfePime', 'Marcela', 'Marcela', 'Marcela', 'Marcela', 'Yeu', 'Yeu', 'Pablo', 'ProfePime', 'ProfePime', 'Marcela', 'Pablo', 'Pablo', 'Yeu', 'Marcela', 'Yeu', 'ProfePime', 'ProfePime', 'Yeu', 'Yeu', 'Yeu', 'Pablo', 'ProfePime', 'Yeu', 'Marcela', 'Pablo', 'Yeu', 'Pablo']
['7', '37', '42', '28', '68', '71', '75', '8', '78', '77', '8', '92', '64', '25', '16', '12', '88', '85', '29', '15', '20', '10', '45', '81', '64', '90', '93', '19', '12', '2', '61', '11', '21', '12', '57', '29', '36', '42', '45', '94', '49', '62', '42', '77', '95', '27', '68', '72', '5', '95', '81', '53', '65', '22', '57', '39', '18', '79', '88', '81', '94', '39', '54', '80', '29', '61', '45', '14', '39', '81', '97', '9', '78', '50', '48', '24', '92', '95', '74', '16', '46', '62', '58', '23', '59', '72', '76', '10', '72', '96', '45', '41', '14', '10', '75', '53', '88', '47', '38', '94', '28', '54', '70', '67', '24', '53', '48', '91', '17', '94']
['Emergencias', 'Devoluciones', 'Emergencias', 'Devoluciones', 'Emergencias', 'Prepago', 'Anticipo', 'Prepago', 'Devoluciones', 'Devoluciones', 'Devoluciones', 'Prepago', 'Anticipo', 'Emergencias', 'Prepago', 'Anticipo', 'Devoluciones', 'Anticipo', 'Devoluciones', 'Anticipo', 'Emergencias', 'Anticipo', 'Devoluciones', 'Prepago', 'Anticipo', 'Prepago', 'Emergencias', 'Devoluciones', 'Prepago', 'Emergencias', 'Anticipo', 'Anticipo', 'Emergencias', 'Emergencias', 'Anticipo', 'Devoluciones', 'Prepago', 'Emergencias', 'Emergencias', 'Anticipo', 'Devoluciones', 'Anticipo', 'Emergencias', 'Anticipo', 'Anticipo', 'Anticipo', 'Emergencias', 'Anticipo', 'Emergencias', 'Emergencias', 'Prepago', 'Prepago', 'Anticipo', 'Devoluciones', 'Devoluciones', 'Emergencias', 'Prepago', 'Anticipo', 'Emergencias', 'Emergencias', 'Prepago', 'Emergencias', 'Prepago', 'Devoluciones', 'Anticipo', 'Emergencias', 'Devoluciones', 'Prepago', 'Anticipo', 'Emergencias', 'Prepago', 'Devoluciones', 'Devoluciones', 'Prepago', 'Prepago', 'Prepago', 'Prepago', 'Emergencias', 'Anticipo', 'Prepago', 'Prepago', 'Prepago', 'Prepago', 'Anticipo', 'Prepago', 'Prepago', 'Devoluciones', 'Anticipo', 'Anticipo', 'Prepago', 'Emergencias', 'Anticipo', 'Emergencias', 'Anticipo', 'Devoluciones', 'Emergencias', 'Devoluciones', 'Emergencias', 'Devoluciones', 'Emergencias', 'Devoluciones', 'Devoluciones', 'Prepago', 'Anticipo', 'Devoluciones', 'Anticipo', 'Devoluciones', 'Anticipo', 'Prepago', 'Prepago']
['05/06/2022 14:37:19', '05/06/2022 14:37:20', '05/06/2022 14:37:23', '05/06/2022 14:37:24', '05/06/2022 14:37:27', '05/06/2022 14:37:27', '05/06/2022 14:37:31', '05/06/2022 14:37:33', '05/06/2022 14:37:35', '05/06/2022 14:37:42', '05/06/2022 14:37:45', '05/06/2022 14:37:48', '05/06/2022 14:37:51', '05/06/2022 14:37:53', '05/06/2022 14:37:59', '05/06/2022 14:38:02', '05/06/2022 14:38:05', '05/06/2022 14:38:08', '05/06/2022 14:38:11', '05/06/2022 14:38:12', '05/06/2022 14:38:15', '05/06/2022 14:38:17', '05/06/2022 14:38:27', '05/06/2022 14:38:29', '05/06/2022 14:38:29', '05/06/2022 14:38:32', '05/06/2022 14:38:32', '05/06/2022 14:38:35', '05/06/2022 14:38:37', '05/06/2022 14:38:39', '05/06/2022 14:38:42', '05/06/2022 14:38:45', '05/06/2022 14:38:51', '05/06/2022 14:38:52', '05/06/2022 14:38:53', '05/06/2022 14:38:55', '05/06/2022 14:38:58', '05/06/2022 14:39:04', '05/06/2022 14:39:04', '05/06/2022 14:39:07', '05/06/2022 14:39:14', '05/06/2022 14:39:16', '05/06/2022 14:39:18', '05/06/2022 14:39:20', '05/06/2022 14:39:21', '05/06/2022 14:39:21', '05/06/2022 14:39:21', '05/06/2022 14:39:21', '05/06/2022 14:39:22', '05/06/2022 14:39:24', '05/06/2022 14:39:27', '05/06/2022 14:39:29', '05/06/2022 14:39:33', '05/06/2022 14:39:36', '05/06/2022 14:39:38', '05/06/2022 14:39:39', '05/06/2022 14:39:41', '05/06/2022 14:39:44', '05/06/2022 14:39:55', '05/06/2022 14:39:58', '05/06/2022 14:40:01', '05/06/2022 14:40:04', '05/06/2022 14:40:08', '05/06/2022 14:40:09', '05/06/2022 14:40:09', '05/06/2022 14:40:09', '05/06/2022 14:40:12', '05/06/2022 14:40:16', '05/06/2022 14:40:20', '05/06/2022 14:40:24', '05/06/2022 14:40:26', '05/06/2022 14:40:28', '05/06/2022 14:40:29', '05/06/2022 14:40:32', '05/06/2022 14:40:39', '05/06/2022 14:40:40', '05/06/2022 14:40:40', '05/06/2022 14:40:43', '05/06/2022 14:40:43', '05/06/2022 14:40:45', '05/06/2022 14:40:47', '05/06/2022 14:40:52', '05/06/2022 14:40:58', '05/06/2022 14:41:00', '05/06/2022 14:41:00', '05/06/2022 14:41:01', '05/06/2022 14:41:05', '05/06/2022 14:41:14', '05/06/2022 14:41:14', '05/06/2022 14:41:15', '05/06/2022 14:41:20', '05/06/2022 14:41:23', '05/06/2022 14:41:25', '05/06/2022 14:41:28', '05/06/2022 14:41:36', '05/06/2022 14:41:41', '05/06/2022 14:41:42', '05/06/2022 14:41:46', '05/06/2022 14:41:51', '05/06/2022 14:41:55', '05/06/2022 14:41:55', '05/06/2022 14:41:56', '05/06/2022 14:41:56', '05/06/2022 14:42:01', '05/06/2022 14:42:04', '05/06/2022 14:42:07', '05/06/2022 14:42:10', '05/06/2022 16:37:04', '05/06/2022 16:37:04', '05/06/2022 16:37:04']
['Pablo', 'Yeu', 'ProfePime', 'Marcela', 'Marcela', 'Marcela', 'ProfePime', 'Pablo', 'Yeu', 'Marcela', 'ProfePime', 'Pablo', 'Marcela', 'Yeu', 'Yeu', 'Pablo', 'Pablo', 'ProfePime', 'ProfePime', 'Yeu', 'ProfePime', 'Marcela', 'Pablo', 'Marcela', 'ProfePime', 'ProfePime', 'Pablo', 'Pablo', 'Pablo', 'Yeu', 'Pablo', 'Pablo', 'Pablo', 'Marcela', 'ProfePime', 'Pablo', 'Marcela', 'Marcela', 'Pablo', 'Yeu', 'ProfePime', 'Pablo', 'Marcela', 'ProfePime', 'ProfePime', 'Marcela', 'ProfePime', 'ProfePime', 'Marcela', 'Marcela', 'ProfePime', 'Marcela', 'Marcela', 'ProfePime', 'Yeu', 'Yeu', 'Pablo', 'Yeu', 'Yeu', 'Pablo', 'Marcela', 'Marcela', 'Yeu', 'Marcela', 'Yeu', 'Pablo', 'Yeu', 'Marcela', 'ProfePime', 'Marcela', 'Marcela', 'Marcela', 'ProfePime', 'Marcela', 'Pablo', 'ProfePime', 'Yeu', 'ProfePime', 'Yeu', 'Yeu', 'Pablo', 'Pablo', 'Yeu', 'Yeu', 'ProfePime', 'ProfePime', 'Marcela', 'ProfePime', 'ProfePime', 'ProfePime', 'Marcela', 'ProfePime', 'Marcela', 'ProfePime', 'Pablo', 'ProfePime', 'Yeu', 'ProfePime', 'ProfePime', 'ProfePime', 'ProfePime', 'Yeu', 'Yeu', 'Pablo', 'Yeu', 'Yeu', 'ProfePime', 'Marcela', 'Pablo', 'Yeu']

In [74]:
datos=cerrarDia()
datos[0]

                  Fecha     Concepto Costo    Usuario
0   05/06/2022 14:37:21   Detergente    65        Yeu
1   05/06/2022 14:37:27  Quita Grasa    47  ProfePime
2   05/06/2022 14:37:30     Manzanas    71        Yeu
3   05/06/2022 14:37:30     Manzanas    35    Marcela
4   05/06/2022 14:37:38       Aceite    12  ProfePime
..                  ...          ...   ...        ...
88  05/06/2022 14:42:08      Charloa    39      Pablo
89  05/06/2022 14:42:08   Detergente    14  ProfePime
90  05/06/2022 14:42:11     Manzanas    59        Yeu
91  05/06/2022 14:42:12       Aceite     8    Marcela
92  05/06/2022 14:42:12   Detergente    56      Pablo

[93 rows x 4 columns]

In [75]:
datos[1]

                   Fecha      Concepto Ingreso    Usuario
0    05/06/2022 14:37:19   Emergencias       7      Pablo
1    05/06/2022 14:37:20  Devoluciones      37        Yeu
2    05/06/2022 14:37:23   Emergencias      42  ProfePime
3    05/06/2022 14:37:24  Devoluciones      28    Marcela
4    05/06/2022 14:37:27   Emergencias      68    Marcela
..                   ...           ...     ...        ...
102  05/06/2022 14:41:56       Prepago      70        Yeu
103  05/06/2022 14:42:01      Anticipo      67      Pablo
104  05/06/2022 14:42:04  Devoluciones      24        Yeu
105  05/06/2022 14:42:07      Anticipo      53        Yeu
106  05/06/2022 14:42:10  Devoluciones      48  ProfePime

[107 rows x 4 columns]

In [73]:
"""import time
import numpy as np
#Generando datos
gconcept=['Manzanas', 'Aceite', 'Quita Grasa', 'Detergente', 'Charloa']
users=['Yeu', 'Pablo', 'Marcela', 'ProfePime']
ingconcept=['Anticipo', 'Devoluciones', 'Prepago', 'Emergencias']

for i in range(0,200):
    if(np.random.randint(2)==1):
        ingresosExtra(np.random.randint(100), ingconcept[np.random.randint(4)],users[np.random.randint(4)])
    else:
        gastosExtra(np.random.randint(100), gconcept[np.random.randint(5)],users[np.random.randint(4)])
    time.sleep(np.random.randint(4))
    """

In [76]:
datos[0].to_csv('C:/Users/Pabul/Desktop/TRABAJOS LCD 2022-1/BBDDNE/Proyecto_Final/CostosExtra.csv', index=False)
datos[1].to_csv('C:/Users/Pabul/Desktop/TRABAJOS LCD 2022-1/BBDDNE/Proyecto_Final/IngresosExtra.csv' , index=False)