In [28]:
import redis
import pandas as pd
from datetime import datetime

db = redis.Redis(host='127.0.0.1', port=6379, db=0, charset="utf-8", decode_responses=True)
db.flushdb()

True

In [27]:
sobrante=pd.read_csv('C:/Users/Pabul/Downloads/productosTest.csv')
gastosG= pd.read_csv('C:/Users/Pabul/Desktop/TRABAJOS LCD 2022-1/BBDDNE/Proyecto_Final/data/GastosExtra.csv')
ingresosi= pd.read_csv('C:/Users/Pabul/Desktop/TRABAJOS LCD 2022-1/BBDDNE/Proyecto_Final/data/IngresosExtra.csv')
ingresosi

                   Fecha      Concepto  Ingreso        Usuario
0    2022-06-05 20:08:36       Prepago       50  HPPS125982733
1    2022-06-05 20:09:54  Devoluciones       33  HPPS125982733
2    2022-06-05 20:10:01       Prepago        7  HPPS125982733
3    2022-06-05 20:10:01       Prepago       31  HPPS125982733
4    2022-06-05 20:10:11       Prepago       73   HSDP02837162
..                   ...           ...      ...            ...
98   2022-06-05 20:14:48  Devoluciones       61   MMCL10294873
99   2022-06-05 20:14:48      Anticipo       76   HSDP02837162
100  2022-06-05 20:14:49   Emergencias       20   MMCL10294873
101  2022-06-05 20:14:50  Devoluciones       41  HPPS125982733
102  2022-06-05 20:14:55       Prepago       87   MMCL10294873

[103 rows x 4 columns]

In [26]:

def carga_datosPrueba(pruebasG, pruebasI):
    key1G='gastoExtra:Gasto:'
    key2G='gastoExtra:Concepto:'
    key3G='gastoExtra:Hora:'
    key4G='gastoExtra:Usuario:'

    key1I='ingresoExtra:Ingreso:'
    key2I='ingresoExtra:Concepto:'
    key3I='ingresoExtra:Hora:'
    key4I='ingresoExtra:Usuario:'
    for index, row in pruebasG.iterrows():
        db.rpush(key1G, row[2])
        db.rpush(key2G, row[1])
        db.rpush(key3G, row[0])
        db.rpush(key4G, row[3])
        
    for index, row in pruebasI.iterrows():
        db.rpush(key1I, row[2])
        db.rpush(key2I, row[1])
        db.rpush(key3I, row[0])
        db.rpush(key4I, row[3])
    

def carga_productos(restantes):
    for index, row in sobrante.iterrows():
        key= 'Productos:'+row[0]
        result= db.set(key, int(row[1]))
    return result

def get_sobrantes(producto):
    key="Productos:"+producto
    result = db.get(key)
    return int(result)

def producidos(producto, producido):
    key="Productos:"+producto
    result= db.set(key, get_sobrantes(producto)+producido)
    return result

def comprados(producto, comprado):
    key="Productos:"+producto
    result= db.set(key, get_sobrantes(producto)-comprado)
    return result

def gastosExtra(gastado, concepto, user):
    hora = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
    key1='gastoExtra:Gasto:'
    key2='gastoExtra:Concepto:'
    key3='gastoExtra:Hora:'
    key4='gastoExtra:Usuario:'
    db.rpush(key1, gastado)
    db.rpush(key2, concepto)
    db.rpush(key3, hora)
    db.rpush(key4, user)
    return 

def gastosExtraTotales():
    gastos= db.lrange('gastoExtra:Gasto:', 0, -1)
    return sum(map(int, gastos))

def ingresosExtra(ingresado, concepto, user):
    hora = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
    key1='ingresoExtra:Ingreso:'
    key2='ingresoExtra:Concepto:'
    key3='ingresoExtra:Hora:'
    key4='ingresoExtra:Usuario:'
    db.rpush(key1, ingresado)
    db.rpush(key2, concepto)
    db.rpush(key3, hora)
    db.rpush(key4, user)
    return

def dfIngresosExtra(self):
        tiempos=[]
        for i in self.db.lrange('ingresoExtra:Hora:', 0, -1):
            tiempos.append(datetime.strptime(i, "%Y-%m-%d %H:%M:%S"))
        ingdict={'Fecha': tiempos, 'Concepto':self.db.lrange('ingresoExtra:Concepto:', 0, -1), \
            'Ingreso': self.db.lrange('ingresoExtra:Ingreso:', 0, -1), 'Usuario': self.db.lrange('ingresoExtra:Usuario:', 0, -1)}
        ingdf=pd.DataFrame.from_dict(data=ingdict)
        return( ingdf)

def dfGastosExtra():
        tiempos=[]
        for i in db.lrange('gastoExtra:Hora:', 0, -1):
            tiempos.append(datetime.strptime(i, "%Y-%m-%d %H:%M:%S"))
        gastdict= {'Fecha': tiempos, 'Concepto':db.lrange('gastoExtra:Concepto:', 0, -1), \
            'Costo': db.lrange('gastoExtra:Gasto:', 0, -1), 'Usuario': db.lrange('gastoExtra:Usuario:', 0, -1)}
        gastodf=pd.DataFrame.from_dict(data=gastdict)
        return(gastodf)


carga_productos(sobrante)
print(get_sobrantes('Volovan'))
producidos('Volovan', 15)
print(get_sobrantes('Volovan'))
comprados('Volovan', 1)
print(get_sobrantes('Volovan'))

gastosExtra(1, 'Manzanas', 'Yeu')
gastosExtra(17, 'Peras', 'Pablo')

ingresosExtra(91, 'Anticipo', 'Marcela')
ingresosExtra(17, 'Prepago', 'Pablo')
ingresosExtra(94, 'Prepago', 'Yeu')

print(gastosExtraTotales())

print(db.lrange('gastoExtra:Gasto:', 0, -1))
print(db.lrange('gastoExtra:Concepto:', 0, -1))
print(db.lrange('gastoExtra:Hora:', 0, -1))
print(db.lrange('gastoExtra:Usuario:', 0, -1))

print(db.lrange('ingresoExtra:Ingreso:', 0, -1))
print(db.lrange('ingresoExtra:Concepto:', 0, -1))
print(db.lrange('ingresoExtra:Hora:', 0, -1))
print(db.lrange('ingresoExtra:Usuario:', 0, -1))

10
25
24
4570
['81', '22', '59', '71', '18', '12', '94', '14', '89', '97', '10', '28', '70', '96', '33', '61', '80', '14', '40', '29', '10', '1', '34', '67', '73', '68', '90', '48', '45', '29', '22', '66', '86', '34', '13', '31', '96', '11', '39', '45', '44', '21', '66', '74', '87', '63', '14', '85', '49', '69', '44', '28', '54', '82', '79', '46', '87', '76', '43', '27', '87', '10', '73', '28', '15', '40', '66', '3', '27', '51', '32', '57', '18', '85', '91', '19', '10', '6', '50', '85', '29', '13', '1', '14', '33', '46', '72', '67', '8', '27', '7', '86', '2', '6', '95', '28', '68', '31', '2', '1', '17']
['Detergente', 'Manzanas', 'Manzanas', 'Manzanas', 'Charloa', 'Aceite', 'Charloa', 'Aceite', 'Quita Grasa', 'Quita Grasa', 'Quita Grasa', 'Quita Grasa', 'Aceite', 'Detergente', 'Aceite', 'Manzanas', 'Charloa', 'Aceite', 'Aceite', 'Detergente', 'Quita Grasa', 'Aceite', 'Detergente', 'Manzanas', 'Quita Grasa', 'Aceite', 'Detergente', 'Detergente', 'Charloa', 'Manzanas', 'Detergente', 'Detergente', 'Quita Grasa', 'Quita Grasa', 'Aceite', 'Charloa', 'Quita Grasa', 'Aceite', 'Quita Grasa', 'Manzanas', 'Charloa', 'Detergente', 'Detergente', 'Aceite', 'Charloa', 'Charloa', 'Detergente', 'Quita Grasa', 'Aceite', 'Quita Grasa', 'Manzanas', 'Charloa', 'Charloa', 'Aceite', 'Detergente', 'Quita Grasa', 'Detergente', 'Aceite', 'Manzanas', 'Aceite', 'Detergente', 'Quita Grasa', 'Manzanas', 'Quita Grasa', 'Manzanas', 'Detergente', 'Charloa', 'Aceite', 'Detergente', 'Manzanas', 'Detergente', 'Charloa', 'Aceite', 'Charloa', 'Aceite', 'Charloa', 'Quita Grasa', 'Manzanas', 'Detergente', 'Manzanas', 'Aceite', 'Aceite', 'Aceite', 'Detergente', 'Manzanas', 'Aceite', 'Quita Grasa', 'Aceite', 'Detergente', 'Detergente', 'Detergente', 'Quita Grasa', 'Aceite', 'Detergente', 'Aceite', 'Manzanas', 'Manzanas', 'Quita Grasa', 'Manzanas', 'Manzanas', 'Peras']
['2022-06-05 20:08:37', '2022-06-05 20:09:55', '2022-06-05 20:09:57', '2022-06-05 20:10:00', '2022-06-05 20:10:03', '2022-06-05 20:10:05', '2022-06-05 20:10:08', '2022-06-05 20:10:17', '2022-06-05 20:10:24', '2022-06-05 20:10:27', '2022-06-05 20:10:30', '2022-06-05 20:10:31', '2022-06-05 20:10:31', '2022-06-05 20:10:34', '2022-06-05 20:10:37', '2022-06-05 20:10:41', '2022-06-05 20:10:44', '2022-06-05 20:10:45', '2022-06-05 20:10:52', '2022-06-05 20:10:55', '2022-06-05 20:10:57', '2022-06-05 20:11:01', '2022-06-05 20:11:03', '2022-06-05 20:11:06', '2022-06-05 20:11:06', '2022-06-05 20:11:09', '2022-06-05 20:11:11', '2022-06-05 20:11:15', '2022-06-05 20:11:21', '2022-06-05 20:11:22', '2022-06-05 20:11:23', '2022-06-05 20:11:23', '2022-06-05 20:11:26', '2022-06-05 20:11:29', '2022-06-05 20:11:30', '2022-06-05 20:11:32', '2022-06-05 20:11:32', '2022-06-05 20:11:34', '2022-06-05 20:11:36', '2022-06-05 20:11:39', '2022-06-05 20:11:42', '2022-06-05 20:11:45', '2022-06-05 20:11:47', '2022-06-05 20:11:48', '2022-06-05 20:11:51', '2022-06-05 20:11:51', '2022-06-05 20:11:54', '2022-06-05 20:11:56', '2022-06-05 20:12:02', '2022-06-05 20:12:05', '2022-06-05 20:12:06', '2022-06-05 20:12:09', '2022-06-05 20:12:09', '2022-06-05 20:12:14', '2022-06-05 20:12:21', '2022-06-05 20:12:23', '2022-06-05 20:12:29', '2022-06-05 20:12:33', '2022-06-05 20:12:35', '2022-06-05 20:12:41', '2022-06-05 20:12:44', '2022-06-05 20:12:49', '2022-06-05 20:12:55', '2022-06-05 20:12:59', '2022-06-05 20:13:00', '2022-06-05 20:13:02', '2022-06-05 20:13:03', '2022-06-05 20:13:09', '2022-06-05 20:13:13', '2022-06-05 20:13:18', '2022-06-05 20:13:22', '2022-06-05 20:13:26', '2022-06-05 20:13:28', '2022-06-05 20:13:29', '2022-06-05 20:13:32', '2022-06-05 20:13:32', '2022-06-05 20:13:38', '2022-06-05 20:13:47', '2022-06-05 20:13:49', '2022-06-05 20:13:54', '2022-06-05 20:13:57', '2022-06-05 20:14:00', '2022-06-05 20:14:03', '2022-06-05 20:14:08', '2022-06-05 20:14:09', '2022-06-05 20:14:18', '2022-06-05 20:14:21', '2022-06-05 20:14:27', '2022-06-05 20:14:27', '2022-06-05 20:14:33', '2022-06-05 20:14:33', '2022-06-05 20:14:44', '2022-06-05 20:14:44', '2022-06-05 20:14:44', '2022-06-05 20:14:45', '2022-06-05 20:14:49', '2022-06-05 20:14:50', '2022-06-05 20:14:50', '2022-06-05 20:14:53', '2022-06-06 00:15:28', '2022-06-06 00:15:28']
['MTYSJ12476412', 'MTYSJ12476412', 'HSDP02837162', 'MMCL10294873', 'HPPS125982733', 'HPPS125982733', 'MMCL10294873', 'HPPS125982733', 'MMCL10294873', 'MTYSJ12476412', 'MMCL10294873', 'HPPS125982733', 'MMCL10294873', 'HSDP02837162', 'MTYSJ12476412', 'MMCL10294873', 'MTYSJ12476412', 'HSDP02837162', 'MMCL10294873', 'HSDP02837162', 'MTYSJ12476412', 'MMCL10294873', 'HPPS125982733', 'HSDP02837162', 'HPPS125982733', 'HPPS125982733', 'HSDP02837162', 'HSDP02837162', 'HPPS125982733', 'HSDP02837162', 'HPPS125982733', 'MMCL10294873', 'MMCL10294873', 'HPPS125982733', 'MTYSJ12476412', 'MTYSJ12476412', 'HSDP02837162', 'MTYSJ12476412', 'MMCL10294873', 'MTYSJ12476412', 'HSDP02837162', 'HPPS125982733', 'HPPS125982733', 'HSDP02837162', 'HSDP02837162', 'MTYSJ12476412', 'MTYSJ12476412', 'MTYSJ12476412', 'MTYSJ12476412', 'HPPS125982733', 'MTYSJ12476412', 'MMCL10294873', 'HPPS125982733', 'HSDP02837162', 'MMCL10294873', 'HSDP02837162', 'MMCL10294873', 'MMCL10294873', 'HPPS125982733', 'MTYSJ12476412', 'HSDP02837162', 'HPPS125982733', 'HPPS125982733', 'HPPS125982733', 'MMCL10294873', 'MTYSJ12476412', 'MMCL10294873', 'HPPS125982733', 'MTYSJ12476412', 'MMCL10294873', 'MTYSJ12476412', 'MMCL10294873', 'MTYSJ12476412', 'MMCL10294873', 'HPPS125982733', 'HPPS125982733', 'MMCL10294873', 'MMCL10294873', 'MTYSJ12476412', 'MMCL10294873', 'HPPS125982733', 'MTYSJ12476412', 'MMCL10294873', 'HSDP02837162', 'MTYSJ12476412', 'HPPS125982733', 'MMCL10294873', 'MTYSJ12476412', 'HSDP02837162', 'HSDP02837162', 'MMCL10294873', 'MTYSJ12476412', 'MTYSJ12476412', 'MMCL10294873', 'HPPS125982733', 'MMCL10294873', 'MTYSJ12476412', 'MMCL10294873', 'MMCL10294873', 'Yeu', 'Pablo']
['50', '33', '7', '31', '73', '86', '94', '47', '41', '54', '18', '7', '65', '73', '26', '51', '27', '28', '67', '75', '5', '27', '44', '7', '54', '18', '21', '18', '8', '95', '55', '36', '12', '11', '10', '77', '90', '29', '30', '60', '21', '55', '19', '60', '96', '60', '41', '59', '98', '67', '27', '24', '38', '66', '88', '73', '60', '38', '40', '74', '52', '15', '27', '93', '62', '18', '76', '16', '63', '0', '43', '64', '13', '85', '91', '45', '86', '28', '37', '66', '45', '95', '89', '56', '34', '52', '34', '32', '23', '21', '94', '76', '33', '30', '34', '97', '86', '4', '61', '76', '20', '41', '87', '91', '17', '94']
['Prepago', 'Devoluciones', 'Prepago', 'Prepago', 'Prepago', 'Emergencias', 'Emergencias', 'Devoluciones', 'Anticipo', 'Anticipo', 'Devoluciones', 'Prepago', 'Anticipo', 'Devoluciones', 'Devoluciones', 'Emergencias', 'Prepago', 'Prepago', 'Prepago', 'Prepago', 'Anticipo', 'Devoluciones', 'Emergencias', 'Emergencias', 'Devoluciones', 'Emergencias', 'Emergencias', 'Emergencias', 'Devoluciones', 'Anticipo', 'Prepago', 'Devoluciones', 'Devoluciones', 'Prepago', 'Prepago', 'Anticipo', 'Prepago', 'Prepago', 'Emergencias', 'Prepago', 'Prepago', 'Anticipo', 'Prepago', 'Devoluciones', 'Emergencias', 'Devoluciones', 'Emergencias', 'Devoluciones', 'Devoluciones', 'Prepago', 'Devoluciones', 'Devoluciones', 'Devoluciones', 'Emergencias', 'Prepago', 'Emergencias', 'Devoluciones', 'Emergencias', 'Anticipo', 'Anticipo', 'Emergencias', 'Prepago', 'Anticipo', 'Prepago', 'Anticipo', 'Emergencias', 'Anticipo', 'Emergencias', 'Prepago', 'Emergencias', 'Prepago', 'Devoluciones', 'Devoluciones', 'Emergencias', 'Prepago', 'Prepago', 'Anticipo', 'Devoluciones', 'Devoluciones', 'Emergencias', 'Devoluciones', 'Prepago', 'Devoluciones', 'Prepago', 'Devoluciones', 'Emergencias', 'Anticipo', 'Anticipo', 'Devoluciones', 'Devoluciones', 'Devoluciones', 'Anticipo', 'Anticipo', 'Anticipo', 'Devoluciones', 'Devoluciones', 'Prepago', 'Prepago', 'Devoluciones', 'Anticipo', 'Emergencias', 'Devoluciones', 'Prepago', 'Anticipo', 'Prepago', 'Prepago']
['2022-06-05 20:08:36', '2022-06-05 20:09:54', '2022-06-05 20:10:01', '2022-06-05 20:10:01', '2022-06-05 20:10:11', '2022-06-05 20:10:14', '2022-06-05 20:10:17', '2022-06-05 20:10:20', '2022-06-05 20:10:22', '2022-06-05 20:10:31', '2022-06-05 20:10:34', '2022-06-05 20:10:41', '2022-06-05 20:10:46', '2022-06-05 20:10:46', '2022-06-05 20:10:48', '2022-06-05 20:10:50', '2022-06-05 20:10:57', '2022-06-05 20:11:00', '2022-06-05 20:11:03', '2022-06-05 20:11:06', '2022-06-05 20:11:06', '2022-06-05 20:11:09', '2022-06-05 20:11:11', '2022-06-05 20:11:11', '2022-06-05 20:11:14', '2022-06-05 20:11:17', '2022-06-05 20:11:18', '2022-06-05 20:11:20', '2022-06-05 20:11:23', '2022-06-05 20:11:23', '2022-06-05 20:11:26', '2022-06-05 20:11:31', '2022-06-05 20:11:31', '2022-06-05 20:11:34', '2022-06-05 20:11:41', '2022-06-05 20:11:46', '2022-06-05 20:11:51', '2022-06-05 20:11:58', '2022-06-05 20:11:59', '2022-06-05 20:12:07', '2022-06-05 20:12:12', '2022-06-05 20:12:12', '2022-06-05 20:12:17', '2022-06-05 20:12:19', '2022-06-05 20:12:19', '2022-06-05 20:12:21', '2022-06-05 20:12:24', '2022-06-05 20:12:27', '2022-06-05 20:12:31', '2022-06-05 20:12:37', '2022-06-05 20:12:38', '2022-06-05 20:12:40', '2022-06-05 20:12:43', '2022-06-05 20:12:47', '2022-06-05 20:12:47', '2022-06-05 20:12:51', '2022-06-05 20:12:53', '2022-06-05 20:12:55', '2022-06-05 20:12:56', '2022-06-05 20:13:06', '2022-06-05 20:13:10', '2022-06-05 20:13:12', '2022-06-05 20:13:13', '2022-06-05 20:13:15', '2022-06-05 20:13:21', '2022-06-05 20:13:23', '2022-06-05 20:13:26', '2022-06-05 20:13:31', '2022-06-05 20:13:32', '2022-06-05 20:13:34', '2022-06-05 20:13:35', '2022-06-05 20:13:36', '2022-06-05 20:13:38', '2022-06-05 20:13:38', '2022-06-05 20:13:41', '2022-06-05 20:13:44', '2022-06-05 20:13:51', '2022-06-05 20:13:55', '2022-06-05 20:13:56', '2022-06-05 20:13:57', '2022-06-05 20:14:03', '2022-06-05 20:14:04', '2022-06-05 20:14:07', '2022-06-05 20:14:10', '2022-06-05 20:14:13', '2022-06-05 20:14:15', '2022-06-05 20:14:15', '2022-06-05 20:14:22', '2022-06-05 20:14:24', '2022-06-05 20:14:27', '2022-06-05 20:14:28', '2022-06-05 20:14:30', '2022-06-05 20:14:30', '2022-06-05 20:14:36', '2022-06-05 20:14:38', '2022-06-05 20:14:40', '2022-06-05 20:14:41', '2022-06-05 20:14:47', '2022-06-05 20:14:48', '2022-06-05 20:14:48', '2022-06-05 20:14:49', '2022-06-05 20:14:50', '2022-06-05 20:14:55', '2022-06-06 00:15:28', '2022-06-06 00:15:28', '2022-06-06 00:15:28']
['HPPS125982733', 'HPPS125982733', 'HPPS125982733', 'HPPS125982733', 'HSDP02837162', 'MTYSJ12476412', 'MTYSJ12476412', 'MMCL10294873', 'MTYSJ12476412', 'HSDP02837162', 'HSDP02837162', 'HPPS125982733', 'MTYSJ12476412', 'MMCL10294873', 'HPPS125982733', 'HSDP02837162', 'HSDP02837162', 'HPPS125982733', 'HPPS125982733', 'HPPS125982733', 'HSDP02837162', 'MTYSJ12476412', 'MTYSJ12476412', 'HPPS125982733', 'HPPS125982733', 'MMCL10294873', 'MMCL10294873', 'HPPS125982733', 'HSDP02837162', 'MMCL10294873', 'HPPS125982733', 'MMCL10294873', 'HPPS125982733', 'HPPS125982733', 'MTYSJ12476412', 'HSDP02837162', 'MTYSJ12476412', 'MTYSJ12476412', 'HSDP02837162', 'HSDP02837162', 'HPPS125982733', 'MTYSJ12476412', 'HSDP02837162', 'HPPS125982733', 'MMCL10294873', 'HPPS125982733', 'MTYSJ12476412', 'HPPS125982733', 'MTYSJ12476412', 'HPPS125982733', 'MMCL10294873', 'HPPS125982733', 'MTYSJ12476412', 'HSDP02837162', 'HSDP02837162', 'MMCL10294873', 'MTYSJ12476412', 'HPPS125982733', 'MMCL10294873', 'HPPS125982733', 'MTYSJ12476412', 'MMCL10294873', 'MTYSJ12476412', 'MMCL10294873', 'MMCL10294873', 'MTYSJ12476412', 'MTYSJ12476412', 'HSDP02837162', 'MTYSJ12476412', 'MTYSJ12476412', 'MMCL10294873', 'MTYSJ12476412', 'HPPS125982733', 'HSDP02837162', 'HSDP02837162', 'HSDP02837162', 'MMCL10294873', 'HPPS125982733', 'MTYSJ12476412', 'MTYSJ12476412', 'MMCL10294873', 'HSDP02837162', 'HSDP02837162', 'MTYSJ12476412', 'MTYSJ12476412', 'MMCL10294873', 'MTYSJ12476412', 'MMCL10294873', 'HPPS125982733', 'HSDP02837162', 'HSDP02837162', 'HPPS125982733', 'MMCL10294873', 'HPPS125982733', 'HPPS125982733', 'MMCL10294873', 'HSDP02837162', 'MMCL10294873', 'MMCL10294873', 'HSDP02837162', 'MMCL10294873', 'HPPS125982733', 'MMCL10294873', 'Marcela', 'Pablo', 'Yeu']

In [74]:
datos=cerrarDia()
datos[0]

                  Fecha     Concepto Costo    Usuario
0   05/06/2022 14:37:21   Detergente    65        Yeu
1   05/06/2022 14:37:27  Quita Grasa    47  ProfePime
2   05/06/2022 14:37:30     Manzanas    71        Yeu
3   05/06/2022 14:37:30     Manzanas    35    Marcela
4   05/06/2022 14:37:38       Aceite    12  ProfePime
..                  ...          ...   ...        ...
88  05/06/2022 14:42:08      Charloa    39      Pablo
89  05/06/2022 14:42:08   Detergente    14  ProfePime
90  05/06/2022 14:42:11     Manzanas    59        Yeu
91  05/06/2022 14:42:12       Aceite     8    Marcela
92  05/06/2022 14:42:12   Detergente    56      Pablo

[93 rows x 4 columns]

In [75]:
datos[1]

                   Fecha      Concepto Ingreso    Usuario
0    05/06/2022 14:37:19   Emergencias       7      Pablo
1    05/06/2022 14:37:20  Devoluciones      37        Yeu
2    05/06/2022 14:37:23   Emergencias      42  ProfePime
3    05/06/2022 14:37:24  Devoluciones      28    Marcela
4    05/06/2022 14:37:27   Emergencias      68    Marcela
..                   ...           ...     ...        ...
102  05/06/2022 14:41:56       Prepago      70        Yeu
103  05/06/2022 14:42:01      Anticipo      67      Pablo
104  05/06/2022 14:42:04  Devoluciones      24        Yeu
105  05/06/2022 14:42:07      Anticipo      53        Yeu
106  05/06/2022 14:42:10  Devoluciones      48  ProfePime

[107 rows x 4 columns]

In [73]:
"""import time
import numpy as np
#Generando datos
gconcept=['Manzanas', 'Aceite', 'Quita Grasa', 'Detergente', 'Charloa']
users=['Yeu', 'Pablo', 'Marcela', 'ProfePime']
ingconcept=['Anticipo', 'Devoluciones', 'Prepago', 'Emergencias']

for i in range(0,200):
    if(np.random.randint(2)==1):
        ingresosExtra(np.random.randint(100), ingconcept[np.random.randint(4)],users[np.random.randint(4)])
    else:
        gastosExtra(np.random.randint(100), gconcept[np.random.randint(5)],users[np.random.randint(4)])
    time.sleep(np.random.randint(4))
    """

In [76]:
datos[0].to_csv('C:/Users/Pabul/Desktop/TRABAJOS LCD 2022-1/BBDDNE/Proyecto_Final/CostosExtra.csv', index=False)
datos[1].to_csv('C:/Users/Pabul/Desktop/TRABAJOS LCD 2022-1/BBDDNE/Proyecto_Final/IngresosExtra.csv' , index=False)

In [29]:
def carga_datosPrueba(pruebasG, pruebasI):
    key1G='gastoExtra:Gasto:'
    key2G='gastoExtra:Concepto:'
    key3G='gastoExtra:Hora:'
    key4G='gastoExtra:Usuario:'

    key1I='ingresoExtra:Ingreso:'
    key2I='ingresoExtra:Concepto:'
    key3I='ingresoExtra:Hora:'
    key4I='ingresoExtra:Usuario:'
    for index, row in pruebasG.iterrows():
        db.rpush(key1G, row[2])
        db.rpush(key2G, row[1])
        db.rpush(key3G, row[0])
        db.rpush(key4G, row[3])
        
    for index, row in pruebasI.iterrows():
        db.rpush(key1I, row[2])
        db.rpush(key2I, row[1])
        db.rpush(key3I, row[0])
        db.rpush(key4I, row[3])
    
carga_datosPrueba(gastosG, ingresosi)

In [30]:
k=dfGastosExtra()
k

                 Fecha     Concepto Costo        Usuario
0  2022-06-05 20:08:37   Detergente    81  MTYSJ12476412
1  2022-06-05 20:09:55     Manzanas    22  MTYSJ12476412
2  2022-06-05 20:09:57     Manzanas    59   HSDP02837162
3  2022-06-05 20:10:00     Manzanas    71   MMCL10294873
4  2022-06-05 20:10:03      Charloa    18  HPPS125982733
..                 ...          ...   ...            ...
94 2022-06-05 20:14:45       Aceite    95  HPPS125982733
95 2022-06-05 20:14:49     Manzanas    28   MMCL10294873
96 2022-06-05 20:14:50     Manzanas    68  MTYSJ12476412
97 2022-06-05 20:14:50  Quita Grasa    31   MMCL10294873
98 2022-06-05 20:14:53     Manzanas     2   MMCL10294873

[99 rows x 4 columns]